.some-background {
	background:url(images/container_image1.png);
}
	
.someother-background {
	background:url(images/container_image2.png);
}
.some-footer {
	background:url(images/footer_image.png);
}
.some-purple-activity {
	background:url(images/activity_cell_purple.png);
}
.some-black-activity {
	background:url(images/activity_cell_black.png);
}
.some-gray-activity {
	background:url(images/activity_cell_gray.png);
}
.blank-spacer {
	padding-top:25px;
}
some-center{
	text-align:center;
}
	
dt {
	font-size:22px;
	font-style:normal;
	font-weight:normal;
}

dd {
	font-size:16px;
	font-style:oblique;
}

li {
	padding-top:10px;
}
body {
	font:Helvetica;
	background-color: #f5f5f5;
	padding-top: 66px;
}

/* Posts
------------------------------- */
.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 9px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/* JavaScript event trig­gered by media query rules
   @see: http://www.paulrhayes.com/2011-11/use-css-transitions-to-link-media-queries-and-javascript/
------------------------------- */
.mq {
  -webkit-transition: width 0.001ms;
  -moz-transition: width 0.001ms;
  -o-transition: width 0.001ms;
  transition: width 0.001ms;
  width: 0;
}