<div class="span12">
	<div class="hero-unit someother-background">

		<div class="row-fluid">
			<dl class="dl-horizontal">
				<dt>About</dt>
				<dd> We are experts at building high quality, custom iOS and Android mobile apps.</dd>
			</dl>
		</div> <!-- row-fluid -->  

		<div class="row-fluid">
		
			<div class="span4">
				<h5>Trust<h5>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.<p>
			</div><!-- /.span4 -->
			
			<div class="span4">
				<h5>Leadership<h5>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.<p>
			</div><!-- /.span4 -->
			
			<div class="span4">
				<h5>Careers<h5>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.<p>
			</div><!-- /.span4 -->
			
		</div><!-- row-fluid -->

	</div> <!-- hero-unit -->
</div> <!-- span12 -->