<!--About-->
<section id="about">
  	<div class="row-fluid blank-superspacer">
   	 	<div class="span12">
			<div class="hero-unit someother-background">
            <font color="#FFFFFF">
            	<div class="row">
                	<dl class="dl-horizontal move-right-a">
                    	<dt>About<dt>
                      <dd> At DV mobile, we focus on building great user experiences that result in profitable buisness<dd>
                	 </dl>
               </div>     
               <div class="row blank-superspacer blank-bottomspacer">
                  <div class="span4">
                  	<epic:link_action action="go_about_dvmobile">
                    	<div class="some-text">
                        <h4 class=blank-bottomspacer align="center">Trust</h5>
                        <p align="center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                      </epic:link_action>
                   </div><!-- /.span4 -->
                   <div class="span4">
                   	<epic:link_action action="go_about_leadership">
                    		<div class="some-text">
                        <h4 class=blank-bottomspacer align="center">Leadership</h5>
                        <p align="center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                      </epic:link_action>
                   </div><!-- /.span4 -->
                   <div class="span4">
                     	<epic:link_action action="go_about_career">
                        <div class="some-text">
                        <h4  class=blank-bottomspacer align="center">Careers</h5>
                        <p align="center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                      </epic:link_action>
                   </div><!-- /.span4 -->
				  </div><!-- /.row -->
              </font>
            </div>
         </div>
      </div>
 </section>

 <!--About end-->