<!--Activity-->
<div class="row-fluid">
		<div class="span12">
          <div id="hero">
          		<div class="row">
        		 <dl class="dl-horizontal">
              		<dt align="center">Updates<dt>
                 	<dd align="center">Check out the latest news and see what we've been up to.<dd>
         		 </dl>
           </div>
            <div class="primary-content">
          
              <div class="hero-masonry">
                <div class="grid-sizer"></div>
          
                  <div class="hero-item has-example is-hidden">
                  </div>
                  <div class="hero-item">
                  </div>
                  <div class="hero-item">
                  </div>
                  <div class="hero-item">
                  </div>
                  <div class="hero-item w2 what-is texty">
        <h2>What is Masonry?</h2>
        <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on available vertical space, sort of like a mason fitting stones in a wall. You&rsquo;ve probably seen it in use all over the Internet.</p>
      </div>

                </div>
              </div>
             </div>		
          </div>
        </div>
</div>