<epic:defer>
  var $hero-masonry = $('#hero-masonry');
  $container.imagesLoaded(function(){
    $hero-masonry.masonry({
    itemSelector : '.hero-item',
    columnWidth : 240
  });
});
</epic:defer>
<!--
<epic:defer>
  $(function(){
    $('#hero-masonry').masonry({
    // options
    itemSelector : '.hero-item',
    columnWidth : 240
  });
});
</epic:defer>
-->
<div class="hero-masonry" id="hero-masonry">
		<epic:foreach table="Activity/ActivityPost">
			<div class="hero-item has-example is-hidden">
				<epic:link_action action="go_news_post" p:url="&ActivityPost/url">
				<img src="&ActivityPost/picture;">
				<p class="example-title">&ActivityPost/title;</p>
				</epic:link_action>
			</div>
		</epic:foreach>
<!-- put in once json works <p class="pull-right"><button id="append-button">View More<img src="Package/dv/images/white_double_dash.png"></button>-->
</div>
