<dl class="dl-horizontal move-right">
				<dt>Services<dt>
				<dd> We are experts at building high quality, custom iOS and Android mobile apps.<dd>
			</dl>

			<!-- Three columns of text below the carousel -->
			<div class="row-fluid blank-superspacer">
            <div class="span3">
            <epic:link_action action="go_mobile_customization">
						<center>
						<img class="img-circle some-center blank-otherspacer" src="Package/dv/images/custom_app_image.png"</img>
						</center>
						<h4 align="center">Custom Mobile Applications</h4 some-center> 
					</epic:link_action> 
               </div>
               <div class="row">
               <div class="span9">
				<div class="row-fluid">
                  <div class="span4">
                      <epic:link_action action="go_mobile_strat_plan">
                          <center>
                          <img class="img-circle some-center" src="Package/dv/images/calender_image.png" onmouseover="this.src='Package/dv/images/calender_image_hover.png'" onmouseout="this.src='Package/dv/images/calender_image.png'"></img>
                          </center>
                          <h5 align="center">Mobile Stategy and Planning</h5 some-center> 
                      </epic:link_action> 
                  </div><!-- /.span4 -->
  
                  <div class="span4">
                      <epic:link_action action="go_social_integration">
                          <center>
                          <img class="img-circle" src="Package/dv/images/twitter_image.png" onmouseover="this.src='Package/dv/images/twitter_image_hover.png'" onmouseout="this.src='Package/dv/images/twitter_image.png'"></img>
                          </center>
                          <h5 align="center">Social Site Integration</h5 some-center>
                      </epic:link_action>
                  </div><!-- /.span4 -->
  
                  <div class="span4">
                      <epic:link_action action="go_mobile_activation">
                          <center>
                          <img class="img-circle" src="Package/dv/images/like_image.png" onmouseover="this.src='Package/dv/images/like_image_hover.png'" onmouseout="this.src='Package/dv/images/like_image.png'"></img>
                          </center>
                          <h5 align="center">Mobile Activation</h5>
                      </epic:link_action>
                  </div><!-- /.span4 -->
  
              </div><!-- /.row -->
  			
              <div class="row-fluid blank-bottomspacer blank-superspacer">
              
                  <div class="span4">
                      <epic:link_action action="go_mobile_sdk_api">
                          <center>
                          <img class="img-circle" src="Package/dv/images/sdk_image.png" onmouseover="this.src='Package/dv/images/sdk_image_hover.png'" onmouseout="this.src='Package/dv/images/sdk_image.png'"></img>
                          </center>
                          <h5 align="center">Mobile SDK's and API's</h5>
                      </epic:link_action>
                  </div><!-- /.span4 -->
  
                  <div class="span4">
                      <epic:link_action action="go_mobile_voice">
                          <center>
                          <img class="img-circle" src="Package/dv/images/voice_image.png" align="middle" onmouseover="this.src='Package/dv/images/voice_image_hover.png'" onmouseout="this.src='Package/dv/images/voice_image.png'"></img>
                          </center>
                          <h5 align="center">Mobile Voice Enablement</h5>
                      </epic:link_action>
                  </div><!-- /.span4 -->
  
                  <div class="span4">
                      <epic:link_action action="go_cloud_strat">
                          <center>
                          <img class="img-circle " src="Package/dv/images/cloud_image.png" onmouseover="this.src='Package/dv/images/cloud_image_hover.png'" onmouseout="this.src='Package/dv/images/cloud_image.png'"></img>
                          </center>
                          <h5 align="center">Cloud Strategy and Deployment</h5>
                      </epic:link_action>
                  </div><!-- /.span4 -->
                  </div>
                  </div>
				</div>
			</div><!-- /.row -->