<section id="carousel">
<div class="container">
	<div class="row-fluid">
		<div class="span12">
              <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
              <!--<ol class="carousel-indicators">
                <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
                <li data-target="#this-carousel-id" data-slide-to="1"></li>
                <li data-target="#this-carousel-id" data-slide-to="2"></li>
                <li data-target="#this-carousel-id" data-slide-to="3"></li>
                <li data-target="#this-carousel-id" data-slide-to="4"></li>
                <li data-target="#this-carousel-id" data-slide-to="5"></li>
                <li data-target="#this-carousel-id" data-slide-to="6"></li>
                <li data-target="#this-carousel-id" data-slide-to="7"></li>
                <li data-target="#this-carousel-id" data-slide-to="8"></li>
              </ol>-->
                <div class="carousel-inner">
                  <div class="item active">
                	  <center>
                   	 <img src="http://dv-mobile.com/images/1-mobile-strategy1024x528.jpg" alt="" />
                    </center>
                  </div>
                  <div class="item">
                 	 <center>
                    	<img src="Package/dv/images/captimo-slider.png" alt="" />
                   </center>
                  </div>
                  <div class="item">
                 	 <center>
                    	<img src="http://dv-mobile.com/images/2-social-integration1024x528.jpg" alt="" />
                   </center>
                  </div>
                  <div class="item">
                 	 <center>
                    	<img src="Package/dv/images/nuiku-slider.png" alt="" />
                   </center>
                  </div>
                  <div class="item">
                  	<center>
                  	  <img src="http://dv-mobile.com/images/4-voice-enablement1024x528.jpg" alt="" />
                      </center>
                  </div>
                  <div class="item">
                 	 <center>
                    	<img src="Package/dv/images/iprojectmobile-slider.png" alt="" />
                   </center>
                  </div>
                  <div class="item">
                  	<center>
                    		<img src="http://dv-mobile.com/images/5-SDK-API1024x528.jpg" alt="" />
                      </center>
                  </div>
                  <div class="item">
                 	 <center>
                    	<img src="Package/dv/images/spyderlynk-slider.png" alt="" />
                   </center>
                  </div>
                  <div class="item">
                  	<center>
                    		<img src="http://dv-mobile.com/images/6-cloud-deployment1024x528.jpg" alt="" />
                      </center>
                  </div>
                </div><!-- /.carousel-inner -->
                
                <!-- Carousel nav -->
  						<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
 						 <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
              </div> <!-- this-carousel-id -->
		</div> <!-- span12 -->
	</div> <!-- row-fluid -->
</div> <!-- container -->
</section>