<section id="clients">
   <!--Clients -->
    <div class="row-fluid some-center blank-superspacer">
		<div class="span12">
        	<div class="row">
        		 <dl class="dl-horizontal move-right">
              		<dt>Select Clients</dt>
                 	<dd>DV mobile works with some of the worlds most inovative and influential clients</dd>
         		 </dl>
           </div>
           <div class="row-fluid blank-superspacer">
          		<div class="span12">
          			<img class="img-rounded" src="Package/dv/images/purple_divider.png">
               </div>
          </div>
          <div class="container">
	<div class="row-fluid">
		<div class="span12">
              <div id="another-carousel-id" class="carousel slide blank-spacer"><!-- class of slide for animation -->
              <ol class="carousel-indicators">
                <li data-target="#another-carousel-id" data-slide-to="0" class="active"></li>
                <li data-target="#another-carousel-id" data-slide-to="1"></li>
                <li data-target="#another-carousel-id" data-slide-to="2"></li>
                <li data-target="#another-carousel-id" data-slide-to="3"></li>
              </ol>
                <div class="carousel-inner">
                  <div class="item active"><!-- class of active since it's the first item -->
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image10.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image7.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image9.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image8.png" alt="">
                            </div>
                        </li>
                    </ul>
                  </div>
                  <div class="item">
                  <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image10.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image7.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image9.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image8.png" alt="">
                            </div>
                        </li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image10.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image7.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image9.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image8.png" alt="">
                            </div>
                        </li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image10.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image7.png" alt="">
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="Package/dv/images/image9.png" alt="">
                            </div>
                        </li>
                        <li class="span3"> 
                            <div class="thumbnail">
                                <img src="Package/dv/images/image8.png" alt="">
                            </div>
                        </li>
                    </ul>
                  </div>
                </div><!-- /.carousel-inner -->
               
              </div>
		</div>
	</div>
          <div class="row-fluid">
          		<div class="span12">
          			<img class="img-rounded" src="Package/dv/images/purple_divider.png">
               </div>
          </div>
         
      </div>
   </div>
  </section>
  <!--Clients end-->