<section id="contact">
<div class="row-fluid blank-superspacer blank-bottomspacer">
	<div class="span6 offset3">
		<div class="row-fluid">	
			<div class="span3 offset1">	
			<a href="mailto:info@dv-mobile.com">
				<img src="Package/dv/images/email.png" style="padding-top: -10px"></img>&nbsp;E-mail</a>&nbsp;
			</div>
			<div class="span3">	
			<a href="http://twitter.com/dvmobile"  target="_blank">
				<img src="Package/dv/images/twitter.png"  style="padding-top: -10px"></img>&nbsp;Twitter</a>&nbsp;
			</div>
			<div class="span3">	
				<a href="tel:720.314.8699"><img src="Package/dv/images/icon-phone.png"  style="padding-top: -10px"></img>&nbsp;720.314.8699</a>
			</div>
		</div>
	</div>
</div>
</section>
