<!--Contact-->
     <div class="row-fluid">
            <div class="span12">
                <form>
                    <fieldset>
                         <legend>
                         		<div class="row">
                                <div class="span4">
                                  <dl class="dl-horizontal">
                                        <dt align = "left">Contact<dt>
                                        <dd align = "left">Get in touch<dd>
                                  </dl>
                                 </div>
                                 <div class="span2">
                                 	<h5 align = "left"><img class="img pull-left" src="Package/dv/images/phone_image.png"> 720-324-8699<h5>
                                 </div>
                                 <div class="span1">
                                 </div>
                             </div>
                         </legend> 
                         <label>Name</label>
                         <input type="text" /> 
                    		<label>Email</label>
                         <input type="text" /> 
                         <label>Subject</label>
                         <input type="text" /> 
                         <label>Your Message/ Inquiry</label>
                         <textarea rows="3" class="input-xlarge" />
                         <button type="submit" class="btn">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
 <!--Contact end-->