<!--
<div class="container short-width">
			<div class="span7">
          		<epic:link_action action="clear_service_part"><button type="button" class="close" >&times;</button></epic:link_action>
          </div>
		<div class="row">
            <iframe src="http://www.dv-mobile.com/site/home/dv%E2%80%A2mobile-sdk-and-api%E2%80%99s-solutions/" width="780" height="550" frameborder="0"></iframe>
         </div>
</div>
-->

<h1>SDK and API Solutions</h1>

<p>DV•mobile SDK and API’s solutions extend the value of your mobile applications by providing the ability to integrate and interact with your enterprise or other 3-third party applications.</p>
<p>DV•mobile SDKs (Software Development Kits) are custom software development frameworks that allow other developers to integrate your application and services into their mobile smartphone / enterprise applications.</p>
<p>DV•mobile APIs (Application Programming Interface) are a set of Dynamic Link Libraries that can be called from an application program to access features of another program.  API’s allows smartphones and enterprise applications to run third-party applications. Our APIs serve as an interface between different software programs and facilitate their interaction, similar to the way the user interface facilitates interaction between humans and computers.</p>
<p>The benefits of DV•mobileSDKs and APIs include:</p>
<ul>
<li>Streamlined implementation of third party solutions on mobile enterprise platforms</li>
<li>Simplified development as they are identical on all platforms (Mobile/Desktop/Server)</li>
<li>Optimized performance for operation on mobile devices</li>
</ul>
<p>DV•mobile builds custom SDKs and APIs for the world’s most popular mobile operating systems.  Contact us today to discuss your SDK and API needs.</p>

<epic:link_action action="clear_service_part" class="btn">All Services</epic:link_action>