<!--
<div class="container short-width">
			<div class="span7">
          		<epic:link_action action="clear_service_part"><button type="button" class="close" >&times;</button></epic:link_action>
          </div>
			<div class="row">
            	<iframe src="http://www.dv-mobile.com/site/home/" width="780" height="550" frameborder="0"></iframe>
           </div>
</div>
-->

<h1>Services</h1>

<ul>
<li><b>Design</b> (Conceptual, UI, Graphics, Functional, Database, Test, etc.)</li>
<li><b>Development</b> (Native, Web, Hybrid models)</li>
<li><b>Deployment</b> (Beta Testing, AppStore/Market Management, Analytics)</li>
<li><b>Support</b> (Maintenance, Upgrades, New Device Support)</li>
</ul>
<p>We are experts at building high-quality custom iPhone / iPad / Android Mobile applications and Software Development Kits (SDK).</p>

<epic:link_action action="clear_service_part" class="btn">All Services</epic:link_action>