
<epic:defer>

    $('#iframe1').iframe ({
    	 height: ('#iframe1').contentWindow.document.body.scrollHeight + 'px !important'
     ]);

</epic:defer>

<IFRAME SRC="http://www.dv-mobile.com/site/home/" width="100%" id="iframe1" marginheight="0" frameborder="0"></iframe>

            	<!--<iframe id="MyIframe" src="http://www.dv-mobile.com/site/home/" width="100%" height="200px" marginheight="0" frameborder="0" onLoad="ResizeIframe('MyIframe')"  scrolling="no"></iframe>
<!--</div>


<!--<h1>Services</h1>

<ul>
<li><b>Design</b> (Conceptual, UI, Graphics, Functional, Database, Test, etc.)</li>
<li><b>Development</b> (Native, Web, Hybrid models)</li>
<li><b>Deployment</b> (Beta Testing, AppStore/Market Management, Analytics)</li>
<li><b>Support</b> (Maintenance, Upgrades, New Device Support)</li>
</ul>
<p>We are experts at building high-quality custom iPhone / iPad / Android Mobile applications and Software Development Kits (SDK).</p>
-->
<epic:link_action action="clear_service_part" class="btn">All Services</epic:link_action>