<!-- Three columns of text below the carousel -->
     	     			<div class="row">
                          <div class="span4">
                           <img class="img-circle" data-src="holder.js/140x140">
                           <h5>Mobile Stategy and Planning</h5>
                         </div><!-- /.span4 -->
                         <div class="span4">
                           <img class="img-circle" data-src="holder.js/140x140">
                           <h5>Social Site Integration</h5>
                         </div><!-- /.span4 -->
                         <div class="span4">
                          <img class="img-circle" data-src="holder.js/140x140">
                          <h5>Mobile Activation</h5>
                        </div><!-- /.span4 -->
                      </div><!-- /.row -->
                      <div class="row">
                        <div class="span4">
                          <img class="img-circle" data-src="holder.js/140x140">
                          <h5>Mobile SDK's and API's</h5>
                        </div><!-- /.span4 -->
                        <div class="span4">
                          <img class="img-circle" data-src="holder.js/140x140">
                          <h5>Mobile Voice Enablement</h5>
                        </div><!-- /.span4 -->
                        <div class="span4">
                          <img class="img-circle" data-src="holder.js/140x140">
                          <h5>Cloud Strategy and Deployment</h5>
            				</div><!-- /.span4 -->
          				</div><!-- /.row -->