<section id="services">
<div class="row-fluid blank-superspacer">
	<div class="span12 some-background">
		<div class="hero-unit">
			<epic:foreach table="User/Options">
			
				<epic:if not_set="&Options/active_service_part;">
					<epic:page_part part="all_services"/>
				</epic:if>
				
				<epic:if set="&Options/active_service_part;">
					<epic:page_part part="&Options/active_service_part;"/>
				</epic:if>
				
			</epic:foreach>
		</div><!-- hero-unit -->
	</div><!-- span12 -->
</div><!-- row-fluid -->
</section>