<!--
<div class="container short-width">
		<div class="span7">
          	<epic:link_action action="clear_service_part"><button type="button" class="close" >&times;</button></epic:link_action>
          </div>
			<div class="row">
            <iframe src="http://www.dv-mobile.com/site/home/dv%E2%80%A2mobile-mobile-social-site-integration-services/" width="780" height="550" frameborder="0"></iframe>
            </div>
</div>
-->

<h1>Mobile Social Site Integration Services</h1>

<p>DV•mobile Mobile Social Site Integration services leverages popular social networking services by integrating their functionality within your mobile and enterprise applications through an API or &#8220;Application Programming Interface&#8221;.</p>
<p>Whether you would like visitors to your website to login using Facebook Connect or display a Twitter feed or tweet information to an account from a mobile device, DV•mobile, can develop a custom application and integration that meets your needs.</p>
<p>Contact us today to discuss how DV•mobile can help you take full advantage of these emerging technologies by leveraging existing online assets and creating new mobile channels.</p>

<epic:link_action action="clear_service_part" class="btn">All Services</epic:link_action>