<epic:defer>
  $(function(){
    $('#container').masonry({
    // options
    itemSelector : '.my-item',
    columnWidth : 240
  });
});
</epic:defer>
<div class="row-fluid">
	<div id="caontainer">
	<div class="my-item">
		Item
	</div>
	<div class="my-item height2">
		Item
	</div>
	<div class="my-item">
		Item
	</div>
	<div class="my-item height2">
		Item
	</div>
	<div class="my-item">
		Item
	</div>
	<div class="my-item">
		Item
	</div>
	<div class="my-item">
		Item
	</div>
	<div class="my-item">
		Item
	</div>
	</div>
</div>