	
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.hero-unit {
	background-color:transparent;
}
.some-text {
	color:#FFF;
}
.some-text:hover {
	color:#606;
}
.some-background {
	background:url(../images/container_image1.png) no-repeat;
    background-size:cover;
}
	
.someother-background {
	background:url(../images/container_image2.png) no-repeat;
    background-size:cover;
}
.some-footer {
	background:url(../images/footer_image.png);
}
.some-purple-activity {
	background:url(../images/activity_cell_purple.png);
}
.some-black-activity {
	background:url(../images/activity_cell_black.png);
}
.some-gray-activity {
	background:url(../images/activity_cell_gray.png);
}
.blank-spacer {
	padding-top:25px;
}

.blank-superspacer {
	padding-top:20px;
}
.blank-otherspacer {
	padding-top:20px;
}

.blank-bottomspacer {
	padding-bottom:20px;
}
.blank-leftspacer {
	padding-left:15px;
}

some-center{
	text-align:center;
}

.thumbnail {
	border: 0px solid #ddd;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
}
dt {
	font-size:22px;
	font-style:normal;
	font-weight:normal;
}
.move-right {
	padding-left:25px;
}
.move-right-hero {
	padding-left:110px;
}
.move-right-c {
	padding-left:180px;
}

.move-right-a {
	padding-left:70px;
}

dd {
	padding-left:45px;
	font-size:16px;
	font-style:oblique;
}

li {
	padding-top:10px;
}
a {
	color:#000;
}
a:hover {
	color:#606;
}
body {
	font:Helvetica;
	background-color: #f5f5f5;
	padding-top: 52px;
	overflow: scroll;
    overflow-x:hidden;
}
/* ---- button ---- */
button {
  font-size:16px;
  display: inline-block;
  background:#666;
  border: none;
  padding: 0.8em 1.0em;
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
  border-radius: 7px;
}
.some-grayback {
	background:#000;
}
button:hover {
  background:#306;
  color: white;
}

button:active {
  background:#306;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.6);
}


.carousel.item img {
    border-radius: 0 0 8px 8px;
}


.short-width {
	width:750px;
}

body .iframe { 
	overflow: hidden;  

} 
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000000
}
.modal-backdrop.fade {
	opacity:0
}
.modal-backdrop,.modal-backdrop.fade.in {
	opacity:0.8;
	filter:alpha(opacity=80)
}
.modal {
	position:fixed;
	top:10%;
	/*left:50%;
	right:50%;*/
	z-index:2050;
	max-width:800px;
	width:90%;
	/*width:800px;
	margin-left:-400px;*/
	background-color:#ffffff;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,0.3);
	*border:1px solid #999;-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	outline:none;
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box
}
.modal.fade {
	top:-25%;
	-webkit-transition:opacity 0.3s linear,top 0.3s ease-out;
	-moz-transition:opacity 0.3s linear,top 0.3s ease-out;
	-o-transition:opacity 0.3s linear,top 0.3s ease-out;
	transition:opacity 0.3s linear,top 0.3s ease-out
}
.modal.fade.in {
	top:10%
}
.modal-header {
	padding:9px 15px;
	border-bottom:1px solid #eee
}
.modal-header .close {
	margin-top:2px
}
.modal-header h3 {
	margin:0; line-height:30px
}
.modal-body {
	position:relative;
	max-height:400px;
	padding:15px
}
.modal-form { 
	margin-bottom:0
}
.modal-footer {
	padding:14px 15px 15px;
	margin-bottom:0;
	text-align:right;
	background-color:#f5f5f5;
	border-top:1px solid #ddd;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	*zoom:1;-webkit-box-shadow:inset 0 1px 0 #fff;
	-moz-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff}
.modal-footer:before,.modal-footer:after {
	display:table;
	line-height:0;
	content:""
}
.modal-footer:after {
    clear:both
}
.modal-footer .btn+.btn {
	margin-bottom:0;
	margin-left:5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
	margin-left:0
}


/*body .modal {
    /* new custom width */
   /* width: 800px;
	height:600px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -400px;
	padding-left:30px;
	overflow: hidden;
}*/

.carousel-indicators {
	position: absolute;
	top: auto;
	right: auto;
	bottom: 15px;
	left: 150px;
}

.carousel-indicators li{
  background-color:#666;
}
.carousel-indicators .active {
  background-color:#609;
}

.carousel-control {
	position: absolute;
	top: auto;
	bottom: 10px;
}

.close {
	width:40px;
	height:40px;
	font-size:40px;
}
.lead {
	font-size:18px;
}