
<script>
$(document).on('click', 'a.accordion-toggle', function(e) {
    $(e.target).parent().siblings('.accordion-body').on('hidden', function(e) {
        e.stopPropagation();
    });
});
</script>

<div class="container short-width">
			<div class="span7">
              <epic:link_action action="close_modal" data-dismiss="modal" aria-hidden="true"><button type="button" class="close" >&times;</button></epic:link_action>
          </div>
          <div class="row">

          <!--<div data-spy="scroll" data-target="modal" data-offset="0" class="scrollspy-example">-->
          <iframe src="http://www.dv-mobile.com/dev/career-opportunities/" width="750" height="300" scrolling="no" frameborder="0"></iframe>
          </div>
          <div class="row">
   <!--       <div class="span7.2"> -->
           <div class="accordion blank-bottomspacer" id="accordion2">
                <div class="accordion-group" >
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Junior Android Developer
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <iframe src="http://www.dv-mobile.com/dev/junior-android-developer/" width="720" height="1500" frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Junior iOS Developer
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <iframe src="http://www.dv-mobile.com/dev/junior-ios-developer/" width="720" height="1500" frameborder="0"></iframe>

                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Senior Android Developer
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <iframe src="http://www.dv-mobile.com/dev/senior-android-developer/" width="720" height="1500" frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                      Senior iOS Developer
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <iframe src="http://www.dv-mobile.com/dev/senior-ios-developer/" width="720" height="1500" frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                    
</div>
      </div>
</div>

 