<div class="container short-width">
			<div class="span5">
          <div class="row">
          		<epic:link_action action="close_modal" data-dismiss="modal" aria-hidden="true"><button type="button" class="close" >&times;</button></epic:link_action>
              <h4>Cloud Strategy and Deployment</h4>
          </div>
			<div class="row">
          			<img class="img-rounded" src="Package/dv/images/mini_divider.png">
          </div>
          <div class="row">
              <p>DV·mobile Cloud Strategy and Deployment services will help you determine which Cloud is right for you and then help you implement seamless integration between your applications and the Cloud. Cloud computing is becoming a real alternative for companies and governments looking to provide better services while reducing costs.

Today’s infrastructure clouds such as Amazon AWS, Google Apps, and Microsoft Azure, offer a relatively inexpensive and flexible alternative to buying in-house hardware. They are now mature enough for business-critical projects, not just research and development. They are also well suited for computation-intensive jobs such as data cleansing, data mining, risk modeling, optimization and simulation.

Contact us for help with transitioning your mobile and enterprise applications to a secure on-demand cloud environment.</p>
          </div>
      </div>
</div>