<div class="container">

	<!-- Carousel -->
	<div class="row-fluid">
		<epic:page_part part="carousel"/>
	</div> <!-- row-fluid -->
	
	<!--Activity-->
	<div class="row-fluid">
		<epic:page_part part="activity"/>
	</div> <!-- row-fluid -->

	<!-- Services -->	
	<div class="row-fluid">
		<epic:page_part part="services"/>
	</div> <!-- row-fluid -->
		
        
	<!--Clients -->
	<div class="row-fluid">
		<epic:page_part part="clients"/>
	</div> <!-- row-fluid -->

	<!--About-->
	<div class="row-fluid">
		<epic:page_part part="about"/>
	</div> <!-- row-fluid -->

	<!--Contact-->
	<div class="row-fluid">
		<epic:page_part part="contact"/>
	</div> <!-- row-fluid -->
	
</div>

	
      <!--JQuery Masonry-->
  <script src="../../js/masonry.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="Package/bootstrap/js/bootstrap.min.js"></script>
  <script src="Package/dv/js/jquery.ba-hashchange.min.js"></script>
  <script src="Package/dv/js/jquery.isotope.min.js"></script>
  <script src="Package/dv/js/mql.js"></script>
  <script src="Package/dv/js/wordpress.js"></script>
  <script src="Package/dv/js/script.js"></script>
 

<script id="post" type="text/x-jquery-tmpl">
  <div id="${id}" class="post item span4">
    <div class="well">
      <h4>
        <a href="${permalink_absolute}" target="_blank">${title}</a>
      </h4>
      <div class="info">
        <span class="badge">${score}</span>
        <span class="badge">r/${subwordpress}</span>
      </div>
    </div>
  </div>
</script>
