<div class="container">

	<!-- Carousel -->
	<div class="row-fluid">
		<epic:page_part part="carousel"/>
	</div> <!-- row-fluid -->
	
	<!--Activity-->
	<div class="row-fluid">
		<epic:page_part part="activity"/>
	</div> <!-- row-fluid -->

	<!-- Services -->	
	<div class="row-fluid">
		<epic:page_part part="services"/>
	</div> <!-- row-fluid -->
		
        
	<!--Clients -->
	<div class="row-fluid">
		<epic:page_part part="clients"/>
	</div> <!-- row-fluid -->

	<!--About-->
	<div class="row-fluid">
		<epic:page_part part="about"/>
	</div> <!-- row-fluid -->

	<!--Contact-->
	<div class="row-fluid">
		<epic:page_part part="contact"/>
	</div> <!-- row-fluid -->
	
</div>