<div class="container">

          <div class="row">
              <h4>Mobile Strategy & Planning Services</h4>
          </div>
			<div class="row-fluid">
          		<div class="span12">
          			<img class="img-rounded" src="Package/dv/images/purple_divider.png">
               </div>
          </div>
          <div class="row">
              <p>DV•mobile can assist you with developing winning strategies to leverage mobile computing’s phenomenal growth to expand your business.

87% of Americans now own a cell phone or mobile device. More users will connect to the Internet through mobile devices than desktop PCs by 2015. 

60% of users can currently access the web through cell phones and mobile devices and the rate is increasing exponentially. 

Mobile technologies allow you to engage and interact with clients anytime, anywhere and through their preferred medium.

If you are not adding mobile to your marketing mix, you risk losing an ever-increasing audience as users move towards accessing the Internet, social networks and other communication mediums via smart phones and mobile devices. Organizations that take advantage of this shift in consumer behavior now, as it is emerging, stand to benefit the most.

Contact DV•mobile now to discuss how your business can benefit from mobile computing.</p>
          </div>
</div>