<div class="container short-width">
			<div class="span7">
          <div class="row">
          		<epic:link_action action="close_modal" data-dismiss="modal" aria-hidden="true"><button type="button" class="close" >&times;</button></epic:link_action>
              <h4 style="font-size:24px">SDK and API Solutions</h4>
          </div>
			<div class="row">
          			<img class="img-rounded" src="Package/dv/images/mini_divider.png">
          </div>
          <div class="row">
              <h5 class="lead">DV•mobile SDK and API’s solutions extend the value of your mobile applications by providing the ability to integrate and interact with your enterprise or other 3-thrid party applications.

DV•mobile SDKs (Software Development Kits) are custom software development frameworks that allow other developers to integrate your application and services into their mobile smartphone / enterprise applications.

DV•mobile APIs (Application Programming Interface) are a set of Dynamic Link Libraries that can be called from an application program to access features of another program.  API’s allows smartphones and enterprise applications to run third-party applications. Our APIs serve as an interface between different software programs and facilitate their interaction, similar to the way the user interface facilitates interaction between humans and computers. 

The benefits of DV•mobileSDKs and APIs include:

Streamlined implementation of third party solutions on mobile enterprise platforms
Simplified development as they are identical on all platforms (Mobile/Desktop/Server)
Optimized performance for operation on mobile devices
DV•mobile builds custom SDKs and APIs for the world’s most popular mobile operating systems.  Contact us today to discuss your SDK and API needs.</h5>
          </div>
       </div>
</div>