<div class="container short-width">
			<div class="span5">
          <div class="row">
          		<epic:link_action action="close_modal" data-dismiss="modal" aria-hidden="true"><button type="button" class="close" >&times;</button></epic:link_action>
              <h4>Mobile Activation</h4>
          </div>
			<div class="row">
          			<img class="img-rounded" src="Package/dv/images/mini_divider.png">

          </div>
          <div class="row">
              <p>Mobile Activation solutions engage customers and drive business results. Mobile Activation started with mobile brand marketing; however, it is now being used for other purposes, including social integration and product introduction.

Our solutions provides the ability to add mobile capture and scanning (via bar codes, brand tags, etc.) and interactivity to traditional advertising pieces using 2D barcodes for 2D digital activation using Snaptags, QR Codes or NFC. We partner closely with SpyderLynk, who is the creator of SnapTag technology.

For consumers, our solutions provide a direct link to information, entertainment and even rewards by simply by using their smartphone. DV·mobile solutions enables clients to scan a tag or code from their mobile phone on an advertisement that has a call to action, to access branded content, timely information, promotional opportunities discounts, retail location ﬁnders, sales opportunities or countless other branded interactions.

Contact us now to learn how our Mobile Activation Services can positively impact your business.</p>
          </div>
      </div>
</div>