
<div class="container short-width">
		<div class="span5">
          <div class="row">
          	<epic:link_action action="close_modal" data-dismiss="modal" aria-hidden="true"><button type="button" class="close" >&times;</button></epic:link_action>
              <h4>Mobile Social Site Integration Services</h4>
          </div>
			<div class="row">
          			<img class="img-rounded" src="Package/dv/images/mini_divider.png">
          </div>
          <div class="row">
              <p>DV•mobile Mobile Social Site Integration services leverages popular social networking services by integrating their functionality within your mobile and enterprise applications through an API or “Application Programming Interface”.

Whether you would like visitors to your website to login using Facebook Connect or display a Twitter feed or tweet information to an account from a mobile device, DV•mobile, can develop a custom application and integration that meets your needs.

Contact us today to discuss how DV•mobile can help you take full advantage of these emerging technologies by leveraging existing online assets and creating new mobile channels.</p>
          </div>
       </div>
</div>